@if (Request.IsAuthenticated) {
    <text>
         @{string ime = User.Identity.Name.Split('@')[0].ToString(); }
        Pozdrav, @Html.ActionLink(ime, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff","Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Odjavi se</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Registriraj se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Ulogiraj se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
