@{
    ViewBag.Title = "Home Page";
}
<style>
    .supersaver {
        font-size: 1.2em;
        font-weight: bold;
    }
</style>




<div class="jumbotron">
    <h1><input type="text" data-bind='value: firstName' /></h1>
    <h1><input type="text" data-bind='value: lastName' /></h1>
    <h1><span data-bind="text: fullName"></span>   </h1>
    <h4><span data-bind="text: visina"></span></h4>
    <h4><input type="text" data-bind='value: visina' value=" " /></h4>
    <button data-bind="click: obaviNesto">Klikn me</button>
    <button data-bind="click: spremiPodatke" >Save data</button>
    <button data-bind="click: dodajProizvod">Dodaj proizvod</button>
    
    <table class="table">
        <thead>
            <tr>
                <td>Proizvod</td>
                <td>Cijena</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: shoppingCart">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: priceFormatted"></td>
                <td>
                    <ul data-bind='foreach: tags'>
                        <li data-bind='text: $data'></li>
                    </ul>
                </td>
                <td> <button data-bind='click: $root.removeProduct'>Ukloni proizvod</button> </td>
            </tr>
        </tbody>
    </table>

<div class="row">
    <div class="col-md-12">
        Ime:
        <input class="form-control form-control-static" type="text" data-bind='value: firstName' /> <br />
        Prezime:
        <input class="form-control" type="text" data-bind='value: lastName' />
        <span data-bind="text: fullName"></span>
        <button class="btn btn-primary" data-bind="click: obaviNesto">Klikn me</button>
        <button class="btn btn-primary" data-bind="click: spremiPodatke">Save data</button>
        <button class="btn btn-primary" data-bind="click: dodajProizvod">Dodaj proizvod</button>
        <button class="btn btn-primary" data-bind="click: provjeriStanjeListe">Provjeri listu</button>
        Attribute binding:
        <p><a data-bind="attr: { href: link()}">Idi na 24 sata</a></p>
    </div>

</div>

<div class="row">

    <div class="col-md-12">
        <table class="heavyTable ">
            <thead>
                <tr>
                    <td>Index</td>
                    <td>Proizvod</td>
                    <td>Cijena</td>
                    <td>Tagovi</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: shoppingCart">
                <tr>
                    <td data-bind="text: $index"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: price"></td>
                    <td>
                        <ol data-bind="foreach: tags">
                            <li data-bind="text: $data"></li>
                            @*Primjer dohvata parent modela*@
                            @*<li><b data-bind="text: $parent.name"></b></li>*@
                        </ol>
                    </td>
                    <td data-bind="if: discount() > 0" style="color: red">
                        You saved <span data-bind="text: formattedDiscount"></span> !!!
                    </td>
                    <td> <button class="btn" data-bind='click: $root.removeProduct'>Ukloni proizvod</button> </td>

                    <td data-bind='if: discount() > 0' style='color: red'>
                        You saved <span data-bind="text: formattedDiscount, css: {supersaver: discount()>.15}"></span>!!!
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Featured product</h2>
        <p data-bind="with: featured">
            Do you need <strong data-bind="text: name"></strong> ? <br />
            Get one only for <strong data-bind="text: price"></strong>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
<<<<<<< HEAD
<script src="~/Scripts/ko/formatters.js"></script>
<script src="~/Scripts/ko/ko.js"></script>
=======

<script src="~/Scripts/ko/ko.js"></script>
<script src="~/Scripts/HeavyTable/HeavyTable.js"></script>
<link href="~/Scripts/HeavyTable/HeavyTable.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        $('.heavyTable').heavyTable({
            xPosition: 2,
            yPosition: 2
        });
    });
</script>
>>>>>>> origin/master
