@{
    ViewBag.Title = "Home Page";
}

<style>
    #mydate {
        
    }

</style>

    @*<div gldp-el="mydate"
         style="width:600px; height:500px; position:absolute; top:70px; left:100px;">
    </div>*@
<div class="jumbotron">

</div>

<div class="row">
    <div class="col-lg-12">
        <input id="mydate" class="datepicker"  />
    </div>
   @*<div class="col-md-8">
       <input type="text" id="inputDate" name="name" value="" />
   </div>*@
</div>




<script>
    function PrikaziTjedan(vrijednost) {
        alert(vrijednost);
    }
    $(function () {

        jQuery('<div/>', {
            id: 'foo',
            href: 'http://google.com',
            title: 'Become a Googler',
            rel: 'external',
            text: 'Go to Google!'
        }).appendTo('.jumbotron');

        $input = $('input.datepicker');
        $input.datepicker({
            autoclose: false,
            toggleActive: true,
            format: "dd.mm.yyyy",
            language: "hr",
            multidate: false,
            multidateSeparator: ";",
            calendarWeeks: true,
            todayHighlight: true,
            beforeShowDay: function (date) {
                if (date.getMonth() == (new Date()).getMonth())
                    switch (date.getDate()) {
                        case 4:
                            return {
                                tooltip: 'Example tooltip',
                                classes: 'active'
                            };
                        case 8:
                            return false;
                        case 12:
                            return "green";
                    }
            },
            datesDisabled: ['06.09.2016', '21.09.2016'],
            showOnFocus: true,
            weekStart: 1,
            daysOfWeekDisabled: "0,6"
        });

        $input.data('datepicker').hide = function () { };
        $input.datepicker('show');
        
       
        //$('input').glDatePicker(
        //{
        //    showAlways: true,
            
        //    allowMonthSelect: false,
        //    allowYearSelect: false,
        //    allowWeekSelect: true,
        //    prevArrow: '<',
        //    nextArrow: '>',
        //    selectedDate: new Date(2013, 8, 5),
        //    selectableDateRange: [
        //        {
        //            from: new Date(2013, 8, 1),
        //            to: new Date(2013, 8, 10)
        //        },
        //        {
        //            from: new Date(2013, 8, 19),
        //            to: new Date(2013, 8, 22)
        //        },
        //    ],
        //    selectableDates: [
        //        { date: new Date(2013, 8, 24) },
        //        { date: new Date(2013, 8, 30) }
        //    ]
        //});
    });
</script>