
@{
    ViewBag.Title = "Index";
}

<h2>Kupovina Paypalom</h2>

@Html.ActionLink("Plati kreditnom karticom", "PaymentWithCreditCard", "Paypal")
@Html.ActionLink("Plati Paypal Accountom", "PaymentWithPaypal", "Paypal")