@{
    ViewBag.Title = "Home Page";
}

<link href="~/css/home.min.css" rel="stylesheet" />

<div class="features">

    <div class="feature feature-1">1</div>
    <div class="feature feature-2">2</div>
    <div class="feature feature-3">3</div>
    <div class="feature feature-4">4</div>

</div>