* {
  box-sizing: border-box; }

.features {
  margin: 8px; }

.feature {
  background: #ccc;
  border: 8px solid #fff;
  height: 400px;
  float: left; }
  .feature-1, .feature-2 {
    width: 50%; }
  .feature-3, .feature-4 {
    width: 25%; }
  .feature-2, .feature-3, .feature-4 {
    height: 200px; }

