@model List<_Glupost_Ajax_direktURL.Models.Grad> 

<table>
    @foreach (_Glupost_Ajax_direktURL.Models.Grad item in Model)
    {
        <tr>
            <td>@item.Naziv</td>
            <td>@item.Drzava.Naziv</td>
        </tr>

    }
</table>
