@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.msg</h1>
    <h1>@ViewBag.encrypt</h1>
    <h1>@ViewBag.decrypt</h1>
    
</div>

<div class="row">
    <div class="col-md-4" id="gradovi">
    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function () {
        $.post('/Home/Govno/', { drzavaId: 1 }, function (gradoviTbl) {
            $(gradovi).html(gradoviTbl);
        });
    });
</script>