@model EBudget.Models.DetaljiTrosakPrihodModelView
@{
    ViewBag.Title = "Pregled troškova";
}

<h2>Pregled troškova</h2>

<fieldset>
    <legend>Pregled troškova</legend>
    <table class="table table-striped table-hover">
        <tr>
            <td>Iznos</td>
            <td>Datum</td>
        </tr>
        @foreach (var item in Model.trosakKolekcija)
        {
            <tr>
                <td>
                    @item.Iznos
                </td>
                <td>
                    @item.DatumVrijeme
                </td>
                <td>
                    @Html.ActionLink("Uredi", "Edit", new { idTrosak = item.IDPrihodTrosak})
                </td>
            </tr>
        }
    </table>
</fieldset>
