@{
    ViewBag.Title = "Dodavanje Kategorija";
}

<h2>Dodavanje kategorija</h2>
@using (Html.BeginForm("AddKategorija", "Main", FormMethod.Post))
{
    <table>
        <tr>
            <td>Ime nove kategorije:
            </td>
            <td>
                @Html.TextBox("txtKategorija")
            </td>
        </tr>
        <tr>
            <td>Tip kategorije
            </td>
            <td>
                @Html.DropDownList("ddlTip", (List<SelectListItem>)ViewBag.selectLista)
            </td>
        </tr>
    </table>
    <button type="submit" class="button">Dodaj kategoriju</button>
}