@{
    ViewBag.Title = "DataTableExample";
}

<h2>DataTableExample</h2>



<div id="example"></div>







@section scripts{
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').dataTable({
                "ajax": "DataTableExample",
                "columns": [
                    { "data": "Iznos" },
                    { "data": "DatumVrijeme" }
                ]
            });
        });
    </script>
    }