@{
    ViewBag.Title = "GetGraphicChart";
}

<h2>GetGraphicChart</h2>
@Html.ActionLink("Ispisi graf", "GetDataForGraph", "MainController", new { id="btnIspisGraf"})
<div id="chart_div"></div>


@section scripts
{

    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        $(function () {
            $("#btnIspisGraf").click(
                function () {


                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetDataForGraph", "MainController")',
                        //data: {id: userId}
                        success: function (data) {
                            alert("Poslao sam");
                            drawChart(data);
                        },
                        error: function (xhr, ajaxOpt, err) {
                            alert("Nisam uspio dohvatiti podatke");
                        }

                    });
                })
        });

        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Prihod');
            data.addColumn('number', 'Iznos prihoda');

            data.addColumn('string', 'Trosak');
            data.addColumn('number', 'Iznos troska');

            for (var i = 0; i < length; i++) {

            }

            //data.addRows([
            //  ['Gljive', 3],
            //  ['Onions', 1],
            //  ['Olives', 1],
            //  ['Zucchini', 1],
            //  ['Krokodili', 2]
            //]);

            // Set chart options
            var options = {
                'title': 'How Much Pizza I Ate Last Night',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }


        //Napravi ajax get sa info
    </script>


}