@{
    ViewBag.Title = "PromjenaPodataka";
}

<h2>PromjenaPodataka</h2>

@using (Html.BeginForm("AzurirajPodatke", "Main", FormMethod.Post))
{
    <table>
        <tr>
            <td>User name
            </td>
            <td>
                @Html.TextBox("ime")
            </td>
        </tr>
    </table>
    <button type="submit">Ažuriraj podatke</button>
}